h1{color:green;}
h1{border:2px solid black;padding:20px;}
body{background-color:lightblue;}
body{font-family:"Comic Sans MS","Comic Sans",cursive;}
ul{border:2px solid black;padding:15px;}
.flex-container{display:flex; justify-content:center; align-items:center;height:200px;flex-direction:column;}
